<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <!-- This is Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
        <!-- chart.js -->
        <script src="https://cdnjs.com/libraries/Chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
        <!-- simple data tables -->
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    
        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
        <!-- Include DataTables JS -->
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        
        <!-- {% load static %} -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
<body>
    <!-- <div class="container-fluid">
    <div class="row"> -->
      <!-- Sidebar -->
      <div class="col-md-3 sidebar" style="height:100%;">
        <h2></i>My Profile</h2>
        <img src="{% static 'profile.png' %}" alt="Profile Image" class="profile-image">
        <ul class="list-unstyled">
        <hr>
        <li><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
        <br>
        <li><a class="nav-link" href="{% url 'list' %}"><i class="fas fa-envelope"></i> Property Listings</a></li>
        <br>
        <li><a class="nav-link" href="{% url 'property_distribution' %}"><i class="fas fa-cog"></i>Market Analysis</a></li>
        <br>
        <li><a class="nav-link" href=""><i class="fas fa-cog"></i> Report & Insights</a></li>
        </ul>
    </div>
</body>
</html>

