body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
h1 {
    font-family:'Times New Roman', Times, serif;
}

.sidebar {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Full-height sidebar */
    background: linear-gradient(to right, #2f5f7f, #1a2633); /* Gradient background */
    color: #fff; /* Text color */
    padding: 15px; /* Padding inside the sidebar */
    box-shadow: 2px 0 5px rgba(144, 122, 122, 0.1); /* Add a subtle shadow */
}
.sidebar {
    height: auto; /* Full-height sidebar */
    background: linear-gradient(to right, rgb(26, 47, 61), #465f77); /* Gradient background */
    color: #fff; /* Text color */
    padding: px; /* Padding inside the sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
.doughnut-chart {
    /*position: absolute;
    top: 10px;*/
    margin-left: 90px;
    margin-top: 40px;
    width: 10px;
  } 

.profile-image {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    border-radius: 50%; /* Makes it a circle */
    margin-left: 10px;  /*Optional margin for spacing */
}
.sidebar h2 {
    color: #fff; /* Header text color */
}

.sidebar a {
    color: #ffffff; /* Link text color */
}

  /* Style for sidebar icons */
.sidebar i {
    margin-right: 10px;
}
.navbar {
    text-align: center;
    padding-bottom: 10px; /* Adjust the value as needed */
    padding-top: 10px;
}

  /* Give some space to the content */
.content {
    padding: 15px;
}
.chart {
    width: 100%; /* Adjust the width as needed, leaving some space for margins */
    margin-bottom: 0px; /* Add some bottom margin for separation */
}

  /* Chart Container */
.chart-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    /*max-width: 750px; 
    margin-left: 0px;
    margin-right: auto;*/
    padding-top: 70px;
    padding-bottom: 8%;
}

h1 {
    padding-bottom: 0px; /* Adjust the value as needed */
    padding-top: 10px;
}
table.display {
    width: 100%;
}
table.display {
    border: 1px solid #ddd;
    
}
table.display th {
    color: #333;
}
table.display tbody tr:hover {
    background-color: #e5e5e5;
}

body {
    background-image: url("back4.jpg");
}